<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <p> welcome to kewan's library :) </p>
        <p> to contact us: </p>
        <p>name: kewan shanan </p>
        <p>phone number: 0548824117 </p>
        <p>address: horfiesh </p>
        <p>mail: kewan101@gmail.com</p>
    </div>
</body>
</html>
